@font-face {
   font-family: 'Gilroy-Medium';
   src: local('Gilroy-Medium'), 
        url('../fonts/Gilroy-Medium.woff2'),
        url('../fonts/Gilroy-Medium.woff');
   font-display: swap;
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: 'Gilroy-Bold';
   src: local('Gilroy-Bold'), 
        url('../fonts/Gilroy-Bold.woff2'),
        url('../fonts/Gilroy-Bold.woff');
   font-display: swap;
   font-style: normal;
   font-weight: 700;
}